body, html {width: 100%; height: 100%; margin: 0; padding: 0}
.voice {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 40px;
    cursor: pointer;
};

.div1{
    width: auto;  
    text-align: center;  
    padding: 15px;  
    border: 10px solid red;
}
img{
    max-width: 100%;  
    height: auto;  
}
body {
    background-image: url('https://raw.githubusercontent.com/sahil11129/Projects/main/Wiki_Voice_bot/IBM_Logo.png');
    background-size:cover;
   }
